@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@layer base {
	:root {
		@apply font-garamond;
		--color-primary-dark: 18 18 18;
		--color-accent-dark: 255 193 7;
		--color-text-dark: 224 224 224;
		--color-sub-text-dark: 189 189 189;
		--color-primary-light: 204 204 204;
		--color-accent-light: 244 0 0;
		--color-text-light: 51 51 51;
		--color-sub-text-light: 117 117 117;
	}
}
