@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@layer base {
	:root {
		--color-primary-light: 204 204 204; /* Основной фон страницы для светлой темы */
		--color-accent-light: 244 0 0; /* Акцентный цвет для светлой темы */
		--color-text-light: 224 224 224; /* Основной текст для светлой темы */
		--color-sub-text-light: 117 117 117; /* Дополнительный текст для светлой темы */

		--color-primary-dark: 18 18 18; /* Основной фон страницы для темной темы */
		--color-accent-dark: 255 193 7; /* Акцентный цвет для темной темы */
		--color-text-dark: 51 51 51; /* Основной текст для темной темы */
		--color-sub-text-dark: 189 189 189; /* Дополнительный текст для темной темы */
	}
}
:root {
	@apply font-serif;
}
